/*
Theme Name: Awesome
Author: Red Deguzman
Author URI: http://twitter.com/reddeguzman
Description: Built with Twitter Bootstrap
Version: 1.0.0
Tags: green, simple, responsive, bootstrap, font-awesome, white
*/

.circle-blurb h3 {
	min-height: 52px;
}

.circle-blurb p {
	min-height: 132px;
}

.price-body {
	min-height: 213px;
}

.page .page-title {
	margin-bottom: 25px;
}

span sup {
	color: red;
	font-size: 18px;
}

.tab-content i {
	color: #62b842;
}