#af-form-772960524 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-772960524 .af-body a{color:#094C80;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-772960524 .af-body input.text, #af-form-772960524 .af-body textarea{background-color:#FFFFFF;border-color:#919191;border-width:1px;border-style:solid;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;font-family:Verdana, sans-serif;}
#af-form-772960524 .af-body input.text:focus, #af-form-772960524 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:1px;border-style:solid;}
#af-form-772960524 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;font-family:Verdana, sans-serif;}
#af-form-772960524 .af-body{padding-bottom:15px;padding-top:15px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#000000;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-772960524 .af-header{padding-bottom:9px;padding-top:9px;padding-right:10px;padding-left:10px;background-color:#62B942;background-repeat:repeat-x;background-position:inherit;background-image:none;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#FFFFFF;font-size:16px;font-family:Verdana, sans-serif;}
#af-form-772960524 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
#af-form-772960524 .af-quirksMode{padding-right:15px;padding-left:15px;}
#af-form-772960524 .af-standards .af-element{padding-right:15px;padding-left:15px;}
#af-form-772960524 .bodyText p{margin:1em 0;}
#af-form-772960524 .buttonContainer input.submit{background-position:top left;background-repeat:repeat-x;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:14px;font-family:Verdana, sans-serif;}
#af-form-772960524 .buttonContainer input.submit{width:98%; border: none;}
#af-form-772960524 .buttonContainer{text-align:right;}
#af-form-772960524 body,#af-form-772960524 dl,#af-form-772960524 dt,#af-form-772960524 dd,#af-form-772960524 h1,#af-form-772960524 h2,#af-form-772960524 h3,#af-form-772960524 h4,#af-form-772960524 h5,#af-form-772960524 h6,#af-form-772960524 pre,#af-form-772960524 code,#af-form-772960524 fieldset,#af-form-772960524 legend,#af-form-772960524 blockquote,#af-form-772960524 th,#af-form-772960524 td{float:none;color:inherit;position:static;margin:0;padding:0;}
#af-form-772960524 button,#af-form-772960524 input,#af-form-772960524 submit,#af-form-772960524 textarea,#af-form-772960524 select,#af-form-772960524 label,#af-form-772960524 optgroup,#af-form-772960524 option{float:none;position:static;margin:0;}
#af-form-772960524 div{margin:0;}
#af-form-772960524 fieldset{border:0;}
#af-form-772960524 form,#af-form-772960524 textarea,.af-form-wrapper,.af-form-close-button,#af-form-772960524 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-772960524 input,#af-form-772960524 button,#af-form-772960524 textarea,#af-form-772960524 select{font-size:100%;}
#af-form-772960524 p{color:inherit;}
#af-form-772960524 select,#af-form-772960524 label,#af-form-772960524 optgroup,#af-form-772960524 option{padding:0;}
#af-form-772960524 table{border-collapse:collapse;border-spacing:0;}
#af-form-772960524 ul,#af-form-772960524 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
#af-form-772960524,#af-form-772960524 .quirksMode{width:300px;}
#af-form-772960524.af-quirksMode{overflow-x:hidden;}
#af-form-772960524{background-color:#292929;border-color:transparent;border-width:1px;border-style:none;}
#af-form-772960524{display:block;}
#af-form-772960524{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding:5px 0;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-header{margin-bottom:0;margin-top:0;padding:10px;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}