// Override Bootstrap
.container {
	@media(min-width: 1200px) {
		width: 1100px;
	}
}

// Flexslider override
.flexslider {
	background-color: transparent;
	border-radius: 0;
	border: none;
	box-shadow: none;
	margin-bottom: 0;

	.flex-control-nav {
		li {
			margin: 0 1px;
		}
	}
}

.flex-control-paging {
	li {
		a {
			width: 27px;
			height: 27px;
			background: #ccc;

			.border-radius;
		}

		a.flex-active  {
			background: @primary; 
		}
	}
}

// Temporary for local development
@font-face {
    font-family: ProximaNovaRegular;
    src: url(ProximaNovaRegular.otf);
}

body {
	// font-family: @font-family-sans-serif;
	font-family: @font-family-sans-serif;
	font-size: 19px;
	background: darken(@primary-background, 5%);
}

a {
	color: @primary;

	&:hover {
		color: lighten(@primary, 8%)
	}
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

header {
	background: #fdfdfd;
	position: relative;
	z-index: 100;
	padding-top: (@layout-padding / 2);
	
	.box-shadow;
	
	.navbar {
		height: 82px;
		border: none;
		background: #fdfdfd;
		margin-bottom: 0;

		.logo {
			width: 232px;
			height: 172px;
			display: inline-block;
			background: url(../images/logo-bg.png);

			img {
				width: 150px;
			}
		}

		.navbar-collapse {
			@media (max-width: 768px) {
				background: #fff;
			}
		}

		.navbar-brand {
			color: @primary;
			font-weight: bold;

			&:hover {
				color: @primaryDark;
			}
		}
	}	
}

.navbar-default {
	background-color: transparent;
  	border: none;

  	.navbar-nav {
	    > li > a {
	      	color: @navbar-default-link-color;

	      	&:hover,
	      	&:focus {
	        	color: @navbar-default-link-hover-color;
	        	background-color: @navbar-default-link-hover-bg;
	      	}
	    }
	    > .active > a {
	      	&,
	      	&:hover,
	      	&:focus {
	        	color: @navbar-default-link-active-color;
	        	background-color: transparent;
	      	}
	    }
	    > .disabled > a {
	      	&,
	      	&:hover,
	      	&:focus {
	        	color: @navbar-default-link-disabled-color;
	        	background-color: @navbar-default-link-disabled-bg;
	      	}
	    }
  	}
}

.banner {
	border-bottom: 1px solid #fff;
	position: relative;
	z-index: 99;
	padding: 40px 0 (@layout-padding + 15);

	.gradient-primary;
	.box-shadow;

	.banner-text {
		position: absolute;
		top: 100px;
		left: 0;
		width: 450px;
		padding-left: @layout-padding;

		h1 {
			font-family: @font-family-sans-serif;
			font-size: 45px;
			text-transform: uppercase;
			color: #2980B9;
			font-weight: bold;
			margin-bottom: 20px;
		}

		a {
			padding: 15px 20px;
		}
	}
}

.awesome-btn-lg {
	.primary-btn;
	.awesome-btn-large;
}

.awesome-btn {
	.primary-btn;
	.awesome-btn-normal;
}

.newsletter {
	padding: @layout-padding 0;
	background: #fff;

	.af-form {
		.border-radius;

		input[type="submit"] {
			background: @primary;

			&:hover {
				background: @primaryDark;
			}
		}
	}

	#af-header-772960524 {
		border-radius: @border-radius-value @border-radius-value 0 0;	
	}

	.newsletter-section-text {
		padding-top: 100px;

		h1 {
			margin-top: 0;
			text-transform: uppercase;

			span {
				color: @primary;
			}
		}
	}
}

.circle-blurbs {
	padding: @layout-padding 0;
	background: #F2F2F2;

	.circle-blurb {
		@media (max-width: 480px) {
			margin-bottom: 20px;
		}
	}

	h1 {
		.section-title;
	}

	h3 {
		margin: 0 0 20px;
		color: @primary;
		text-transform: capitalize;
	}

	img {
		margin-bottom: 15px
	}
}

.call-to-action {
	background: @primary;
	padding: (@layout-padding / 2) 0;

	h1 {
		color: #fff;
		font-size: 35px;
		font-weight: bold;
		text-transform: none;
	}

	.call-to-action-btn {
		background: @accent-color;
		color: #fff;
		display: inline-block;
		padding: 10px 15px;
		font-size: 22px;
		margin-top: 9px;

		.border-radius;

		&:hover {
			color: #fff;
			background: lighten(@accent-color, 10%);
			text-decoration: none;
		}
	}
}

.pricing {
	padding: @layout-padding 0;
	background: #fff;

	h1 {
		.section-title;
	}

	.wrap-price {
		width: 85%;
		margin: 0 auto;
		border: 1px solid darken(@primary-background, 8%);
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;

		@media(max-width: 480px) {
			margin-bottom: 20px;
		}

		.price-head {
			border-radius: @border-radius-value @border-radius-value 0 0;
			background: #2CB8EA;
			color: #fff;
			
			h1 {
				text-transform: none;
				padding: 20px 0;
				font-size: 24px;
				margin-bottom: 0;
			}
		}

		.price-body {

			padding: @layout-padding;

			h1 {
				color: @primary;
				font-weight: bold;
				margin-top: 0;
			}
		}

		.price-footer {
			border-radius: 0 0 @border-radius-value @border-radius-value;
			background: @accent-color;
			color: #fff;
			display: block;
			padding: 17px 0;

			&:hover {
				color: #fff;
				background: lighten(@accent-color, 10%);
				text-decoration: none;
			}
		}
	}
}

.tips {
	padding: @layout-padding 0;
	background: #F2F2F2;

	.tip {
		width: 85%;
		margin: 0 auto;

		.blog-box;

		h2 {
			color: @primary;
			text-transform: capitalize;
			font-size: 19px;
			margin: 0;
		}

		.post-details {
			font-size: 13px;
			color: #999;
			margin: 0;
		}

		.post-content {
			font-size: 14px;
		}

		@media(max-width: 480px) {
			margin: 0 auto 20px;
		}
	}
}

footer {
	.footer-upper {
		padding: @layout-padding / 2;
		background: @dark;
		color: #fff;

		.footer-logo {
			a {
				margin-bottom: 20px;
				display: inline-block;
			}

			p {
				font-size: 16px;
				color: lighten(@dark, 50%)
			}
		}

		.footer-content {
			padding-left: (@layout-padding / 2) + 10;

			h1 {
				color: @primary;
				text-transform: none;
			}

			ul li {
				font-size: 17px;
				color: lighten(@dark, 50%);
				margin-bottom: 5px;
			}
		}
	}

	.lower-footer {
		background: #000;
		color: #fff;
		padding: (@layout-padding / 2) 0 0;

		p {
			color: lighten(@dark, 20%);
			font-size: 13px;
		}

		a {
			font-family: Arial, sans-serif;
			color: lighten(@dark, 20%);
			font-size: 13px;

			&:hover {
				color: lighten(@dark, 40%);
				text-decoration: none;
			}
		}

		@media (max-width: 480px) {
			p,
			ul {
				text-align: center;
			}
		}
	}
	
}

.page-contents {
	padding: 100px 0 @layout-padding;

	@media (max-width: 480px) {
		padding: 0;

		.mobile-border;
	}

	.page-content {
		.min-page-height;

		.blog-box;

		.post-details {
			font-size: 16px;
			color: #999;
			margin: 0 0 25px;

			span {
				color: @primary;
			}
		}

		.page-title {
			font-size: 50px;
			font-weight: bold;
			text-transform: none;
			margin-bottom: 25px;
		}

		p {
			margin-bottom: 16px;
		}

		.comments {
			background: darken(@primary-background, 2%);
			padding: @layout-padding / 2;

			h3 {
				margin-top: 0;
			}

			a {
				color: darken(@primary-background, 50%);
				font-size: 13px;
				text-decoration: none;

				&:hover {
					color: darken(@primary-background, 80%);
				}
			}

			.comment-body {
				background: #fff;
				border: 1px solid darken(@primary-background, 5%);
				padding: @layout-padding / 2;
				margin-bottom: 15px;
			}

			.children {
				.comment-body {
					background: darken(@primary-background, 2%);
					border: 1px solid darken(@primary-background, 5%);
				}
			}
		}

	}

	.single-post {
		.page-title {
			margin-bottom: 0;
		}

		textarea {
			@media (max-width: 480px) {
				width: 100%;
			}
		}
	}
}

.sidebar {

	border-left: 1px solid darken(@primary-background, 5%);

	.form-group:first-child {
		margin-bottom: 7px;
	}

	a {
		font-size: 16px;
		color: darken(@primary-background, 50%);

		&:hover {
			color: darken(@primary-background, 80%);
			text-decoration: none;
		}
	}

	ul {
		padding-left: 0;

		li {
			list-style: none;

			ul {
				padding-left: 15px;
			}
		}
	}

	@media (max-width: 480px) {
		margin-top: 20px;
	}
}

.blog-page {
	.min-page-height;

	.blog-entry {
		margin-bottom: 20px;

		&:first-child {
			@media (max-width: 480px) {
				margin-top: 20px;
			}
		}

		.blog-box;

		img {
			border: 1px solid darken(@primary-background, 8%);
		}

		h2 {
			text-transform: none;
			margin: 0;
			font-weight: bold;
			
			a {
				color: @gray-dark;

				&:hover {
					text-decoration: none;
					color: @gray;
				}
			}
		}

		.post-details {
			font-size: 16px;
			color: #999;
			margin: 0 0 25px;

			span {
				color: @primary;
			}
		}
	}
}

// WP Pagenavi
.wp-pagenavi {
	.pages {
		background: #fff;
	}

	.current {
		background: @primary;
		border: none;
		color: #fff;
	}

	a {
		background: #fff;
		color: @primary;

		&:hover {
			border: 1px solid darken(@primary-background, 8%);
		}
	}
}

.shopping_cart {
	padding: @layout-padding;
	background: darken(@primary-background, 10%);
	border: 1px solid #eaeaea;
}

.search-title {
	margin: 0;
	text-transform: none;
	font-weight: bold;

	@media (max-width: 480px) {
		margin-top: 20px;
	}
}