.gray(@percent) {
  color: lighten(@black, percentage(@percent / 100));
}

.gradient-primary {
	background: @gradient-color-top; /* Old browsers */
	background: -moz-linear-gradient(top,  @gradient-color-top 0%, @gradient-color-bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient-color-top), color-stop(100%,@gradient-color-bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @gradient-color-top 0%,@gradient-color-bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @gradient-color-top 0%,@gradient-color-bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @gradient-color-top 0%,@gradient-color-bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @gradient-color-top 0%,@gradient-color-bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@gradient-color-top, endColorstr=@gradient-color-bottom,GradientType=0 ); /* IE6-9 */
}

.box-shadow {
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.7);
	box-shadow: 0 3px 5px rgba(0,0,0,0.7);
}

.border-radius {
	-webkit-border-radius: @border-radius-value;
	-moz-border-radius: @border-radius-value;
	border-radius: @border-radius-value;
}

.mobile-border {
	border-radius: 0;
}

.primary-btn {
	background: @primary;
	border: 1px solid @primaryDark;
	.border-radius;
	color: #fff;
	display: inline-block;

	&:hover {
		border: 1px solid @primaryDark;
		text-decoration: none;
		color: #fff;
		background: lighten(@primary, 10%);
	}
}

.awesome-btn-large {
	font-size: 19px;
	padding: 15px 20px;
}

.awesome-btn-normal {
	font-size: 15px;
	padding: 4px 13px;
}

.section-title {
	margin: 0 0 30px;
}

.blog-box {
	background: #fff;
	padding: @layout-padding / 2;
	overflow: hidden;
	border: 1px solid;
	border-color: darken(@primary-background, 8%) darken(@primary-background, 10%) darken(@primary-background, 20%);

	.border-radius;
}

.min-page-height {
	min-height: 500px;
}