// Single primary color that all mixins use. Str8 ballin.
@primary:        			hsl(104, 47%, 49%);
 
// Primary Variants -
@primaryLight:   hsl(hue(@primary), 100%, 70%);
@primaryDark:    hsl(hue(@primary), 60%, 40%);
@primaryFaded:   hsl(hue(@primary), 60%, 65%);
 
// 180degree Variants
@variant:         spin((@primary), 180);
@variantLight:    hsl(hue(@variant), 100%, 70%);
@variantDark:     hsl(hue(@variant), 60%, 40%);
@variantFaded:    hsl(hue(@variant), 60%, 65%);
 
// 90degree Variants
@corner:         spin((@primary), 70);
@cornerLight:    hsl(hue(@corner), 100%, 70%);
@cornerDark:     hsl(hue(@corner), 60%, 40%);
@cornerFaded:    hsl(hue(@corner), 60%, 65%);

// Backgrounds
@primary-background:        hsl(0, 0%, 99%);

// Gradients
@gradient-color-top: 	hsl(0, 0%, 99%);
@gradient-color-bottom:	hsl(0, 0%, 92%);

// Global variables
// @font-family-sans-serif:  "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; // uncomment on test site
@font-family-sans-serif:  	ProximaNovaRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
@layout-padding: 			40px;
@border-radius-value: 		5px;
@accent-color:				hsl(39, 100%, 50%);
@dark:						hsl(0, 0%, 20%);