/*
Theme Name: ACT Help Center
Description: Customized theme for ACT Help Center. Fully responsive theme that looks great on any device.
Version: 1.0
*/

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/* FONTS */
@font-face {
    font-family: 'opensans_semibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans_light';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans_regular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* =Reset
-------------------------------------------------------------- */
html{
margin-top:0 !important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
p {
	margin-bottom: 14px;
	font-size: 15px;
	line-height: 120%;

}

body.page p { font-size: 17px; }
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
section {
	display: block;
}
hgroup {
	float: left;
	margin-right: 20px;
}
nav {
	float: right;
}

nav li:last-child {
	margin-right: 0;
}

audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}


/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	font-size: 28px;
	font-size: 2rem;
	line-height: 2.181818182;
	font-weight: normal;
	color: #529F39;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}

/* Form fields, general styles first */
button,
input,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	padding: 0.428571429rem;
}
button,
input {
    line-height: normal;
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Buttons */
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
li.bypostauthor cite span {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
.menu-toggle:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #757575;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border: none;
}
li.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* Navigation */
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
#nav-above {
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
	margin: 3.428571429rem 0;
}

/* Author profiles */
.author .archive-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.author-info {
	border-top: 1px solid #ededed;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	overflow: hidden;
}
.author-description p {
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.author.archive .author-info {
	border-top: 0;
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
}
.author.archive .author-avatar {
	margin-top: 0;
}


/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html {
	font-size: 87.5%;
}
body {
	font-size: 13px;
	font-size: 1rem;
	font-family: opensans_light, Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	color: #272727;
	background: #fff url(images/page-main-bg.png) top center repeat-x;
}
body.home { background: #fff url(images/main-bg.png) center 140px repeat-x; }
body.page { background:#FFF !important;}
body.custom-font-enabled {
	font-family: opensans_light, Helvetica, Arial, sans-serif;
}
a {
	outline: none;
	color: #529F39;
}
a:hover {
	color: #000;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Page structure */
.site {
	padding: 0;
	padding: 0;
}
.site-content {
	margin: 10px 0 0;
}
.widget-area {
	margin: 24px 0 0;
	margin: 10px 0 0;
}

/* Header */
.site-header {
	padding: 24px 0;
	padding: 0.85714286rem 0;
	height: 64px;
  margin-top:150px !important;
}

.site-header h1,
.site-header h2 {
	text-align: center;
}
.site-header h1 a,
.site-header h2 a {
	color: #515151;
	display: inline-block;
	text-decoration: none;
}
.site-header h1 a:hover,
.site-header h2 a:hover {
	color: #21759b;
}
.site-header h1 {
	font-size: 24px;
	font-size: 1.714285714rem;
	line-height: 1.285714286;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.site-header h2 {
	font-weight: normal;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.header-image {
	margin-top: 24px;
	margin-top: 1.714285714rem;
}

/* Navigation Menu */
.main-navigation {
	/* margin-top: 24px;
	margin-top: 1.714285714rem; */
	margin: 0 20px 0 26px;
	margin: 0 1.42857143rem 0 1.85714286rem;
	text-align: center;
}
.main-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
}
.main-navigation a {
	color: #272727;
	font-family: opensans_light, Arial, Helvetica, sans-serif;
	font-size: 14px;
  text-transform: uppercase;
}
.main-navigation a:hover {
	color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}
.menu-toggle.toggled-on{
	position: relative;
	right: -20px;
}
/* Phone */
.phone { float: right; height: 51px; line-height: 51px; }
.phone p { color: #468731; font-size: 35px !important; margin-right:10px; }
.phone p strong { font-family: opensans_semibold, Arial, Helvetica, sans-serif;}

.home .phone p {color: #FFF;}

/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}

/* Sidebar */
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	word-wrap: break-word;
}
.widget-area .widget h3 {
/*	margin-bottom: 24px;
	margin-bottom: 1.714285714rem; */
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget-area .widget p {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
.widget-area .textwidget li {
	margin-left: 36px;
	margin-left: 2.571428571rem;
}
.widget-area .widget a {
	color: #757575;
}
.widget-area .widget a:hover {
	color: #21759b;
}
.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}

/* Footer */
footer[role="contentinfo"] {
	background: #000;
	clear: both;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
/*	max-width: 960px;
	max-width: 68.571428571rem; 
	margin-top: 24px;
	margin-top: 1.714285714rem;*/
	margin-left: auto;
	margin-right: auto;
/*	padding: 0 0 24px 0;
	padding: 0 0 1.714285714rem 0; */
}
footer[role="contentinfo"] a {
	color: #686868;
}
footer[role="contentinfo"] a:hover {
	color: #21759b;
}

#footer-widget img {
	box-shadow: none;
	border-radius: none;
	margin-bottom: 10px;
}

#footer-widget {
	background: #333;
	min-height: 200px;
	padding: 40px 0;
	color: #bebebe;
	overflow: hidden;
}

#footer-widget ul li {
	width: 100%;
	display: block;
}

#footer-widget ul.widget-list li {
	float: left;
}

#footer-widget ul.widget-list li.widget:nth-child(1) {
	width: 28%;
	margin-right: 5%;
}

#footer-widget ul.widget-list li.widget:nth-child(2) {
	width: 65%;
	clear: right;
}

#footer-widget .widget-title {
	line-height: 28px;
	margin-bottom: 20px;
  font-weight: bold;
}

footer#colophon ul.menu li {
	float: left;
	font-size: 12px;
	margin-right: 20px;
}

footer#colophon ul.menu li a{
	color: #666666;
	text-decoration: none;
  text-transform:uppercase;
}

footer#colophon ul.menu li a:hover{
	color: #ccc;
	text-decoration: underline;
}

.site-info {
	font-size: 14px;
	color: #666;
}

.foo-content {
	padding: 15px 0;
}

/* =Main content and comment content
-------------------------------------------------------------- */

.entry-meta {
	clear: both;
}
.entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header ul.post-categories li {
	float: left;
}
.entry-header img.wp-post-image {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-title {
 text-align:center;
}
.entry-header .entry-title, .entry-title, .single-title {
	font-size: 28px;
	font-size: 2rem;
	line-height: 1.5em;
	font-weight: bolder;
 
}

.single-title { text-align:left; margin-bottom:30px;}
.entry-header .entry-title, #home-section-1 .entry-title { text-align:left;}

.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header .entry-format {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-weight: normal;
}
.entry-header .comments-link {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.comments-link a,
.entry-meta a {
	color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
	color: #21759b;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.entry-content,
.entry-summary,
.mu_register {
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
	margin: 10px 0;
/*	margin: 1.714285714rem 0; */
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1 {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.entry-content h2,
.comment-content h2,
.mu_register h2 {
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
}
.entry-content h3,
.comment-content h3 {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}
.entry-content h4,
.comment-content h4 {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}
.entry-content h5,
.comment-content h5 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.entry-content h6,
.comment-content h6 {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.846153846;
}
.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	padding: 24px;
	padding: 1.714285714rem;
	font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 24px;
	padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
img.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter {
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment-content dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.entry-content td,
.comment-content td {
	/*padding: 6px 10px 6px 0;*/
}
.site-content article {
	border-bottom: 4px double #ededed;
	margin-bottom: 72px;
	margin-bottom: 5.142857143rem;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}


/* =Archives
-------------------------------------------------------------- */

.archive-header,
.page-header {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	padding-bottom: 22px;
	padding-bottom: 1.571428571rem;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin-top: 22px;
	margin-top: 1.571428571rem;
}


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
	margin-top: 0.571428571rem;
}


/* =Aside post format
-------------------------------------------------------------- */

article.format-aside h1 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #2e3542;
}
article.format-aside .aside {
	padding: 24px 24px 0;
	padding: 1.714285714rem;
	background: #d2e0f9;
	border-left: 22px solid #a8bfe8;
}
article.format-aside p {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}


/* =Post formats
-------------------------------------------------------------- */

/* Image posts */
article.format-image footer h1 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}

/* Link posts */
article.format-link header {
	padding: 0 10px;
	padding: 0 0.714285714rem;
	float: right;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;
}
article.format-link .entry-content {
	max-width: 80%;
	float: left;
}
article.format-link .entry-content a {
	font-size: 22px;
	font-size: 1.571428571rem;
	line-height: 1.090909091;
	text-decoration: none;
}

/* Quote posts */
article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	padding: 1.714285714rem 1.714285714rem 0;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.6;
	font-style: normal;
	color: #6a6a6a;
	background: #efefef;
}

/* Status posts */
.format-status .entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
	display: inline-block;
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-size: 1.071428571rem;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #21759b;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	margin-right: 1.5rem;
}


/* =Comments
-------------------------------------------------------------- */

.comments-title {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.comments-area article header {
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #21759b;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

/* Comment form */
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}
#respond h3#reply-title {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}


/* =Front page template
-------------------------------------------------------------- */

.entry-page-image {
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.template-front-page .site-content article {
	border: 0;
	margin-bottom: 0;
}
.template-front-page .widget-area {
	clear: both;
	float: none;
	width: auto;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	border-top: 1px solid #ededed;
}
.template-front-page .widget-area .widget li {
	margin: 8px 0 0;
	margin: 0.571428571rem 0 0;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.714285714;
	list-style-type: square;
	list-style-position: inside;
}
.template-front-page .widget-area .widget li a {
	color: #757575;
}
.template-front-page .widget-area .widget li a:hover {
	color: #21759b;
}
.template-front-page .widget-area .widget_text img {
	float: left;
	margin: 8px 24px 8px 0;
	margin: 0.571428571rem 1.714285714rem 0.571428571rem 0;
}


/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
.widget_rss li {
	margin: 12px 0;
	margin: 0.857142857rem 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	font-size: 0.785714286rem;
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	padding-right: 1.714285714rem;
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}


/* =Plugins
----------------------------------------------- */

img#wpstats {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.714285714rem;
}


/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.author-avatar {
		float: left;
		margin-top: 8px;
		margin-top: 0.571428571rem;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	.site {
		margin: 0 auto;
		max-width: 960px;
		max-width: 68.571428571rem;
		/*overflow: hidden;*/
	}
	.site-content {
		float: left;
		width: 56.3%;
	}
	.home #home-section-1 .site-content {
		float: right;
		width: 56.3%;
	}
	body.template-front-page .site-content,
	body.single-attachment .site-content,
	body.full-width .site-content {
		width: 100%;
	}

	.widget-area {
		float: right;
		width: 31.3%;
	}
	.home #home-section-1 .widget-area {
		float: left;
		width: 31.3;
	}
	.site-header h1,
	.site-header h2 {
		text-align: left;
	}
	.site-header h1 {
		font-size: 26px;
		font-size: 1.857142857rem;
		line-height: 1.846153846;
		margin-bottom: 0;
	}
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: inline-block !important;
		text-align: left;
		width: 100%;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #272727;
		line-height: 3.692307692;
		white-space: nowrap;
	}
	.main-navigation li a:hover {
		color: #468731;
	}
	.main-navigation li {
		margin: 0 40px 0 0;
		margin: 0 2.857142857rem 0 0;
		position: relative;
	}
	.main-navigation li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul li a {
		background: #efefef;
		border-bottom: 1px solid #ededed;
		display: block;
		font-size: 11px;
		font-size: 0.785714286rem;
		line-height: 2.181818182;
		padding: 8px 10px;
		padding: 0.571428571rem 0.714285714rem;
		width: 180px;
		width: 12.85714286rem;
		white-space: normal;
	}
	.main-navigation li ul li a:hover {
		background: #e3e3e3;
		color: #444;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #468731;
	}
	.menu-toggle {
		display: none;
	}
	.entry-header .entry-title {
		font-size: 28px;
		font-size: 2rem;
	}
	#respond form input[type="text"] {
		width: 46.333333333%;
	}
	#respond form textarea.blog-textarea {
		width: 79.666666667%;
	}
	.template-front-page .site-content,
	.template-front-page article {
		overflow: hidden;
	}
	.template-front-page.has-post-thumbnail article {
		float: left;
		width: 47.916666667%;
	}
	.entry-page-image {
		float: right;
		margin-bottom: 0;
		width: 47.916666667%;
	}
	.template-front-page .widget-area .widget,
	.template-front-page.two-sidebars .widget-area .front-widgets {
		float: left;
		width: 51.875%;
		margin-bottom: 24px;
		margin-bottom: 1.714285714rem;
	}
	.template-front-page .widget-area .widget:nth-child(odd) {
		clear: right;
	}
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
		float: right;
		width: 39.0625%;
		margin: 0 0 24px;
		margin: 0 0 1.714285714rem;
	}
	.template-front-page.two-sidebars .widget,
	.template-front-page.two-sidebars .widget:nth-child(even) {
		float: none;
		width: auto;
	}
	.commentlist .children {
		margin-left: 48px;
		margin-left: 3.428571429rem;
	}
}
/* Maximum width of 600 pixels. */
@media screen and (max-width: 600px){
	div.head-fb-like{
		position: absolute;
		right: 125px;
		top: 24px;
	}
}
/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	body {
	}
	body .site {
		padding: 0;
		padding: 0;
		margin-top: 0;
		margin-top: 0;
		/* margin-bottom: 48px;
		margin-bottom: 3.428571429rem; */
	}
	body.custom-background-empty {
		background-color: #fff;
	}
	body.custom-background-empty .site,
	body.custom-background-white .site {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
}

@media screen and (max-width:695px){
	.main-navigation li{
		margin: 0 0.857143rem 0 0 !important;
	}
	
}


/* =Print
----------------------------------------------- */

@media print {
	body {

		background: none !important;
		color: #000;
		font-size: 10pt;
	}
	footer a[rel=bookmark]:link:after,
	footer a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	a {
		text-decoration: none;
	}
	.entry-content img,
	.comment-content img,
	.author-avatar img,
	img.wp-post-image {
		border-radius: 0;
		box-shadow: none;
	}
	.site {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	.site-header {
		margin-bottom: 72px;
		margin-bottom: 5.142857143rem;
		text-align: left;
	}
	.site-header h1 {
		font-size: 21pt;
		line-height: 1;
		text-align: left;
	}
	.site-header h2 {
		color: #000;
		font-size: 10pt;
		text-align: left;
	}
	.site-header h1 a,
	.site-header h2 a {
		color: #000;
	}
	.author-avatar,
	#colophon,
	#respond,
	.commentlist .comment-edit-link,
	.commentlist .reply,
	.entry-header .comments-link,
	.entry-meta .edit-link a,
	.page-link,
	.site-content nav,
	.widget-area,
	img.header-image,
	.main-navigation {
		display: none;
	}
	.wrapper {
		border-top: none;
		box-shadow: none;
	}
	.site-content {
		margin: 0;
		width: auto;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.singular .site-content,
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular .comments-title {
		margin: 0;
		width: 100%;
	}
	.entry-header .entry-title,
	.entry-title,
	.singular .entry-title {
		font-size: 28px;
		font-weight: normal;
	}
	footer.entry-meta,
	footer.entry-meta a {
		color: #444;
		font-size: 10pt;
	}
	.author-description {
		float: none;
		width: auto;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.comments-area article header cite,
	.comments-area article header time {
		margin-left: 50px;
		margin-left: 3.57142857rem;
	}
}

/* Customs CSS */

.home .site-header, #home-section-1, .inner { max-width: 960px; width:100%; margin: 0 auto; }
.clearfix { clear: both; height: 60px; }

.home #home-section-1, 
.home #home-section-2, 
.home #home-section-3, 
.home #home-section-4 { 
	clear: both; 
	padding: 20px 0 40px 0;
}

.home #home-section-1 .widget {
	background: #61b942 url(images/home-widget-bg.png) repeat-x top center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.home #home-section-1 .widget .widget-title {
	font-size: 25px;
	color: #fff;
	margin: 0 32px;
	text-transform: capitalize;
	font-weight: normal;
	line-height: 70px;
}

.home #home-section-1 .widget .textwidget {
	background: #292929;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	color: #D6D6D6;
	font-size: 13px;
}

.home #home-section-1 #content {
	padding-top: 30px;
	line-height: 2.1em;
	font-size: 13px;
}

.home #home-section-1 .entry-title span {
	color: #468A31;
}

#featured {
	margin-bottom: 58px;
}

.home #home-section-2 {
	background: #f2f2f2;
	line-height: 1.8em;
	padding-bottom: 0px;
}
.home #home-section-2 inner{
	padding:0 8%;
	width:84%;
}
.home #home-section-2 .course {
	display: inline-block;
	width: 41%;
	margin: 3%;
}



.home #home-section-2 .course .icon{
	display: inline-block;
	margin-right: 20px;
}

.home #home-section-2 .course .course-content{
	display: inline-block;
	width: 100%;
}

.home #home-section-2 .course h3, .home #home-section-3 h3, .home #home-section-4 h3 {
	font-size: 16px;
	color: #468A31;
	font-weight: normal;
	margin: 0 0 10px 0;

}
.home #home-section-4 h3{
	text-align:center;
}

.home #home-section-2 .sign-up {
	background: #53A039;
	padding: 40px 0;
	font-size: 28px;
	color: #fff;
	min-height: 50px;
	margin-top: 60px;
}

.home #home-section-2 .sign-up h3 {
	font-weight: normal;
	float: left;
	text-shadow: -1px -1px 1px #666;
	line-height: 44px;
}

.button {
	background: url(images/button-bg.png) repeat-x;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #fff;
	box-shadow: 1px 1px 1px #666;
	color: #272727;
	padding: 0px 16px;
	text-decoration: none;
	float: right;
	line-height: 1.5em;
}

.button:hover {
	color: #53A039;
}

.button-orange, .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	background: #ffa500 url(images/arrow-white.png) 94% center no-repeat;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #e59400;
	box-shadow: inset 1px 1px 1px #ffc966;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 21px;
	font-family: opensans_semibold, Arial, Helvetica, sans-serif;
	text-shadow: -1px -1px 1px #666;
	display: block;
	margin-top: 30px;
}


.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] { font-size:20px !important; width:100%;}

.start-btn { display:inline-block !important; float:right; background: #ffa500 url(images/arrow-white.png) 94% center no-repeat; margin:0; padding-right:30px;}

.button-green:hover, .wpcf7 input[type="submit"]:hover {
	background-color: #474747;
	border: 1px solid #333333;
	box-shadow: inset 1px 1px 1px #999;
	color: #fff;
}

.entry_meta {
	font-family: opensans_regular, Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: #999;
}

.entry-thumb {
	display: block;
	float: left;
	position: relative;
	margin-right: 24px;
}

#home-section-4 .entry_meta {
	font-family: opensans_regular, Arial, Helvetica, sans-serif;
	font-size: .67em;
	color: #999;
}

a.readmore {
	background: #53a039;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #468931;
	box-shadow: inset 1px 1px 1px #9cc88d;
	color: #fff;
	padding: 0px 10px;
	text-decoration: none;
	float: right;
	font-size: 13px;
	line-height: 1.8em;
}

a.readmore:hover {
	background: #474747;
	border: 1px solid #333333;
	box-shadow: inset 1px 1px 1px #999;
}

.price-table {
	font-size: 18px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.price-table p {
	font-size: 17px;
	line-height: 24px;
}

.price-table h4 {
	background: #2CB8EA;
	border: 1px solid #1C7696;
	box-shadow: inset 1px 1px 1px #8FD9F4;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 21px;
	font-family: opensans_semibold, Arial, Helvetica, sans-serif;
	text-shadow: -1px -1px 1px #666;
	display: block;
	margin-bottom: 30px;
}

.price-table .price {
	font-family: opensans_semibold, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #529F39;
	display: block;
	text-align: center;
}

.home #home-section-4 {
	background: #DEDEDE;
}

.home #home-section-4 .blog {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: inline-block;
	width: 27.1%;
	margin: 20px 1.4% 15px 0;
	vertical-align: top;
}



.home #home-section-4 .blog .blog-title {
	color: #468A31;
	font-size: 21px;
	line-height: 1.1em;
  font-weight: bold;
}

.wpcf7 input, .wpcf7 textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 8px;
	padding: 0.428571429rem;
	width: 95%;
	
}

.wpcf7 input, .wpcf7 textarea, .wpcf7 select {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 8px;
	padding: 0.428571429rem;	
}

.home .widget-area .wpcf7 input[type="text"], 
.home .widget-area .wpcf7 input[type="tel"], 
.home .widget-area .wpcf7 input[type=email], 
.home .widget-area .wpcf7 textarea {
	background: #474747 url(images/arrow-white.png) no-repeat 15px center;
	padding: 10px 10px 10px 35px;
	border: none !important;
	width: 200px;
	margin-bottom: 15px;
	color: #999;
	text-shadow: none !important;
}

.home .widget-area .wpcf7 p { margin: 0 !important; }

.home .widget-area .wpcf7 .course {
	background: #474747 url(images/arrow-down-white.png) no-repeat 94% center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 200px;
	padding: 10px 10px 10px 20px;
}

.page-id-134 .site-content {
	width: 100%;
}

.page-template-page-templatesblog-page-php .site-content {
	/*width: 100% !important;*/
	width:inherit;
}

/*sign-up form*/

#af-form-772960524 {
	background: none !important;
}

#af-form-772960524 .af-header {
	border-radius: 8px 8px 0 0;
}

#af-form-772960524 .af-body {
	position: relative;
	z-index: 99999;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-o-border-bottom-left-radius: 8px;
	-ms-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	-o-border-bottom-right-radius: 8px;
	-ms-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #292929;
	z-index:1;
}
.home #home-section-1 .widget .textwidget {
	background: none !important;
}

.bodyText {
	font-family: opensans_light, Helvetica, Arial, sans-serif !important;
}

#af-form-772960524 .af-body input.text, #af-form-772960524 .af-body textarea {
	background: #919191 !important;
	height: 30px;
	color: #fff !important;
	font-family: opensans_light, Helvetica, Arial, sans-serif !important;
}

#af-form-772960524 .buttonContainer input.submit {
	background-image: url(images/signup-submit-btn.png) !important;
	text-indent: -99999px;
	width: 268px !important;
	height: 51px;
	border: 0 !important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	background-size: 100%;
}

.contact-form-page h2 { font-size:25px; font-family:opensans_semibold, Arial, Helvetica, sans-serif;}
.contact-form-page p { font-size:17px;  line-height:120%; font-family:opensans_semibold, Arial, Helvetica, sans-serif;}
.contact-form-page p.contact-add { font-size:20px; }

/* slider customization */

.mslide a.slider-more {
	background: url(images/slider-more.png) no-repeat 0 0;
	width: 133px;
	height: 32px;
	display: block;
	position: absolute;
	bottom: 10%;
	left: 8%;
	text-indent: -9999px;
}
.meteor-slides .meteor-buttons{
	right: 15px;
	width: 90px;
	left:inherit;
}
.site-title img {
	max-width: 150px;
}

div.header {
	overflow: hidden;
	background: rgb(253,253,253); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(253,253,253,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	padding: 20px 0;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.8);
	box-shadow: 0 1px 6px rgba(0,0,0,0.8);
  position: fixed;
	top: 0;
	left: 0;
	width:100%;
	z-index: 1030;
  
}

.footer-logo {
	text-align: center;
}

.footer-logo img {
	width: 150px;
}

div.head-fb-like {
	text-align: right;
}

.home .widget-area .wpcf7 select { 
    width:215px /* this percentage effectively extends the drop down button out of view */; 
    background-color:transparent /* this hides the select's background making any styling visible from the div */; 
    background-image:none; 
    -webkit-appearance: none /* this is required for Webkit browsers */; 
    border:none; 
    box-shadow:none;
	color: #bebebe;
	margin-bottom: 15px;
}

.home .widget-area .wpcf7 select option {
	background: #474747;
	border: none;
	outline: none;
}

.home .widget-area .wpcf7 input[type="submit"] {
	text-align: left;
	width: 245px;
	margin: 10px 0px !important;	
}

.ie7 .course {border:none; }
.ie7 .course select { 
    width:100%; 
    background-color:white; 
    border: solid 1px #ccc; 
    padding:0.3em 0.5em; 
}

:focus {
	outline: none !important;
}

	.et-custom-list ul li { padding-left: 25px !important; margin: 5px 0 !important; list-style: none !important; position: relative; background:url(images/list-checkmark.png) no-repeat scroll 0 3px !important; }

.et_slidecontent tr td:first-child, .et_slidecontent tr td:nth-child(2) { width:32% !important;}
.et_slidecontent tr td { text-align:center;}
.et_slidecontent tr td ul li { text-align:left;}

#af-form-703175639 .af-header {
  border-radius: 10px 10px 0 0;
  position: relative;
  top: -10px;
}

#af-submit-image-703175639 {
background: #62B942 !important;
width: 105%;
color: #fff;
height: 30px;
}
.twitter-follow-button {
	position: absolute; top: 61px; right: 100px;  
}
.fb-like{
    height: 31px;
    overflow: hidden;
}

.mslide-2 a img { display:block !important;}

div.meteor-slides{
  overflow:hidden !important;
  }

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.home #home-section-2 .course{
		width: 45%;
		margin: 15px;
	}
	.home #home-section-4 .blog{
		display: block;
		width: 85%;
		margin: 25px;
		padding: 35px 20px;;
	}
}
@media only screen 
and (max-width : 768px) {
	.home #home-section-2 .course{
		width: 45%;
		margin: 15px;
	}
	.home #home-section-4 .blog{
		display: block;
		width: 85%;
		margin: 25px;
		padding: 35px 20px;;
	}
}
 @media screen and (max-width:550px){
 
 .home #home-section-2{
		padding: 0 10px;
	}
	.home #home-section-2 .inner{
		text-align:center;
	}
	.home #home-section-2 .course{
		width: 90%;
		text-align: center;
	}
	.home #home-section-2 .course .course-content{
		width:100%;
	}

 } 
  @media screen and (max-width:320px){
	body.home{
		background-size: 2168px 375px;
		background-position: center 102px;
	}
	.fb_iframe_widget span{
		vertical-align: initial;
	}
	.twitter-follow-button{
		right: 30px;
	}
	div.head-fb-like {
		right: 95px;
	}
	
	.site-content {
		margin: 10px;
		height: auto;
		overflow: auto;
	}
	.entry-header .entry-title, #home-section-1 .entry-title{
		line-height: 1.2em;
		text-align:center;
	}
	.home #home-section-2 .sign-up{
		height: auto;
		overflow: auto;
	}
	.home #home-section-4 .blog{
		width:80%;
		margin: 10px;
	}
	#footer-widget ul.widget-list li.widget:nth-child(1),
	#footer-widget ul.widget-list li.widget:nth-child(2){
		width:100%;
	}
	.phone .fb-share-button{
		width: inherit !important;
		right: 201px !important;
		top:19px !important;
	}

	.phone .fb-like{
		display:none !important;
	}
	.home .site-header, #home-section-1, .inner{
		text-align:center;
	}
	.page-id-6 .site-content{
		padding:15px;
	}
	
	.page-id-7 .site-content{
		width:95% !important;
	}
	footer#colophon ul.menu li{
		margin: 0 5px;
	}
	.site-info{clear:both;}
}

@-moz-document url-prefix() {
	 @media screen and (max-width:320px){
		.phone .fb-share-button{
			top:30px !important;
		}
		.phone p {
			font-size: 30px;
		}
	 }
	
}
.course_header{
	font-weight: bold;
	text-decoration: underline;  
}